<div class="head-nav"> <div class="container">
    <div class="pull-left">
      <%= link_to image_tag("logo.png", :alt => "logo"), '/' %>
    </div>
    <nav>
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "ABOUT US", about_path %></li>
      <li><%= link_to "CONTACT",  contact_path %></li>
      <li><%= link_to "BLOG", blog_path %></li>
      <li class="dropdown">
      <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        ACCOUNT<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% if signed_in? %>
          <li><%= link_to "USERS", '#' %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", '#' %></li>
          <li class="divider"></li>
          <li>
          <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
      </li>
      <ul class="dropdown-menu">
        </li>
      </ul>
      </li>
    </ul>
    </nav>
  </div>
</div>
